<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.myproject.dao.excel.ExcelServiceMapper" >
  <insert id="saveExcelData">
      INSERT INTO t_data_dictionary (
      data_type,
      data_sub_type,
      data_code,
      data_value,
      remark,
      create_time
      )
      VALUES
      <foreach collection="list" item="item" index="index" separator=",">
      (#{item.dataType},
      #{item.dataSubType},
      #{item.dataCode},
      #{item.dataValue},
      #{item.remark},
      now())
    </foreach>
  </insert>

  <delete id="deleteDataDictionary">
    DELETE FROM t_data_dictionary
  </delete>



</mapper>